.header {
  padding: 5px 0;
  background-color: rgb(16, 16, 16);
  width: 100%;
  color: white;
  border-bottom: white solid 0.1px;
}

.header nav {
  width: 80%;
  margin: 0 auto;

}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navList {
  text-decoration: none;
  color: white;
}