.MenuSliderParent{
  background-color: #161616;
}

.MenuSlideWrapper {
  padding : 34px 0 45px 0;
}


.slideWrapper {
  padding-left: 10vw; /* スライダー左の余白 */
  padding-right: 20px; /* スライダー右の余白 */
}

.swiper-slide {
  /* スライド間のスペースをパーセンテージで指定 */
  padding-right: 2%; /* 右側のパディングでスペースを作る */
  box-sizing: border-box; /* パディングを要素の寸法に含める */
}


.slideImage {
  width: 100%;
  height: auto;
  border-radius:3px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;


}

.slideImage:hover {
  opacity: 0.7;
}

.caption{
  font-weight: 100;
  width: 80%;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  padding-bottom: 28px;
}

.menu_title {
  margin: 7px 0 0 5px;
  font-size: 14px;

}

.menu_title_link {
  display: flex;
  text-decoration: none;
  font-weight: 100;
  font-size:16px;
  padding:0 0 7px 3px;
}


@media screen and (min-width: 780px) {
  .caption{
    font-size: 24px;
    padding: 50px 0 60px 0;
  }
  .menu_title {
    font-size: 18px;
  
  }
}

@media screen and (min-width: 1024px) {
  .swiper-slide {
  width: 400px;
  }

}
