/* .commitmentWrap {
     width: 100%;
     margin: 0 auto;
} */

/* .image-gallery{
     width: 100%;
}

.image-gallery-image {
     width: 100%;
} */
.body {
    width: 100vw;
    height: 5000px;
    margin: 30px;
}


.image-gallery-image {
     width: 100vw; /* Full width of the viewport */
     height: 100vh; /* Full height of the viewport */
     object-fit: cover; /* Cover the container without losing aspect ratio */
   }
   


