.container {
    width: 100%;
    margin: 100px 0 0 0;
}

.contentsBox {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: auto;
    margin: 40px 0 60px 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.title {
}

.text {
    font-size: 14px;
}

@media screen and (min-width: 600px) {

    .container {
        margin: 150px 0 0 0;
    }
    .text {
        font-size: 20px;
    }

    .title {
    }
}

@media screen and (min-width: 900px) {
    .text {
        font-size: 20px;
    }

    .title {
        font-size: 30px;
    }
}
