* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  overflow: auto;
}

html::-webkit-scrollbar {
  display: none;
}


li {
  list-style-type: none;
}

body {
  font-family: 'Shippori Mincho', serif;
  font-weight:100
}



a {
  text-decoration: none;
  border: none;
}





