* {
  margin: 0;
  padding: 0;
  color: white;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Shippori Mincho', serif;
  font-weight:100
}



a {
  text-decoration: none;
  border: none;
}





