.title {
    margin: 15px 0 15px 20px;
    font-size:20px;
    font-weight:100;
}


.image {
    width: 80%;
    height: auto;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.courseDetail {
    font-size: 12px;
    
}

@media screen and (min-width: 600px) {
    .title {
        font-size:22px;
    }
    
    .courseDetail {
        font-size: 14px;
    }
}

@media screen and (min-width: 900px) {
    .title {
        font-size:24px;
    }
    .courseDetail {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .courseDetail {
        font-size: 18px;
    }
}
