.sectionWrap {
    background-color: #1e1e1e;
    padding: 40px 0 30px 0;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.sectionBox {
    background-color: #1e1e1e;
    width: 65vw;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    padding: 28px 0;
}

.image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.49);
}

.textBox {
    width: 80%;
    padding: 10px 0 0 10px;
    background-color: #1e1e1e;
}

.title {
    font-weight: 100;
    font-size: 18px;
    background-color: #1e1e1e;
}

.text {
    font-weight: 100;
    font-size: 12px;
    background-color: #1e1e1e;
}

.reservation {
    font-weight: 100;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    float: right;
    margin: 0 10px 0 0;
    align-items: center;
}

.resvTitle {
    background-color: #1e1e1e;
    font-size: 12px;
    margin: 0 10px 0 0;
}

.link a {
    font-size: 12px;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    .sectionBox {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        padding: 45px 0;
    }

    .sectionBox:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .image {
        width: 50%;
        height: auto;
    }
    .textBox {
        width: 40%;
    }

    .title {
        font-size: 22px;
    }

    .text {
        font-size: 16px;
    }

    .reservation {
        font-size: 12px;
    }

    .resvTitle {
        font-size: 18px;
    }

    .link a {
        font-size: 18px;
    }
}
